@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

#socials i {
  color: #344563;
}

.h2_gray_title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
}

#lets_connect {
  color: #7f8cff;
  font-weight: 500;
}
